[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
build = "*"
homeassistant = "*"
ipdb = "*"
ipython = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pyupgrade = "*"
requests = "*"
types-requests = "*"

[requires]
python_version = "3"
