[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
homeassistant = "*"
types-requests = "*"
requests = "*"
ipdb = "*"
ipython = "*"
black = "*"
isort = "*"
pre-commit = "*"
pyupgrade = "*"
mypy = "*"

[requires]
python_version = "3"
