[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
homeassistant = "*"
types-requests = "*"
requests = "*"
ipdb = "*"
ipython = "*"

[requires]
python_version = "3"
